<div class="container">





  <button  *ngIf="institutions[0]" (click)="postAllInstitutions()" type="button" class="btn  btn-outline-dark animate__animated  animate__backInDown">Post all
    institutions</button>
    <button  *ngIf="institutions[0]" (click)="AceptAllInstitutions()" type="button" class="excel btn btn-outline-info animate__animated  animate__backInDown">
      Accept remaining</button>
  <button  *ngIf="institutions[0]" (click)="exportFile()" type="button" class="excel btn btn-outline-success animate__animated  animate__backInDown">Generate
    Excel</button>
  
  <!-- <button (click)="reject()" type="button" class="excel btn btn-outline-info">Reject one</button> -->
  <button  (click)="exportFilefromStorage()" type="button" class="excel btn btn-outline-warning animate__animated  animate__backInDown">Generate
    Excel from storage</button>
  <!-- <button (click)="rejectAllGet()" type="button" class="excel btn btn-outline-danger">Reject All on get</button> -->





  <!-- <div class="row">
    <div class="col-sm">
      <h1 style="text-align: center;">Institutions

      </h1>
    
      <p  style="text-align: center;">
        <span *ngIf="institutions[0]" > Total Institutions: {{institutions.length}}</span>
         <span *ngIf="institutions[0]" [ngClass]="{'error': rest > 0, 'success': rest <= 0}">  -  rest: {{rest}}</span>
        <span *ngIf="institutions[0]" class="success">  -  with code: {{institutions.length - rest}}</span></p>
    </div>
    <div class="col-sm">
      <h1 style="text-align: center;">CRP: {{crp}}

      </h1>
    
      <p  style="text-align: center;">
        <span *ngIf="institutions[0]" > Total Institutions: {{institutions.length}}</span>
         <span *ngIf="institutions[0]" [ngClass]="{'error': WoAcept > 0, 'success': WoAcept <= 0}">  -  without accepting: {{WoAcept}}</span>
        <span *ngIf="institutions[0]" class="success">  -  accepted: {{institutions.length - WoAcept}}</span></p>
    </div>

  </div> -->
  



  
 
  
  <div class="row input-group mb-3 " style="margin-bottom: 10px;" *ngIf="institutions[0]" >



    <div class="col-12 animate__animated animate__bounceInDown" style="margin: 10px 0px;">
      <ul class="list-group">
        <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
          Total Institutions
          <span class="badge badge-primary badge-pill">{{institutions.length}}</span>
        </li>
      </ul>
    </div>


    <div class="col-6 animate__animated  animate__bounceInLeft">
      <ul class="list-group">
        <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
          Total Institutions
          <span class="badge badge-primary badge-pill">{{institutions.length}}</span>
        </li> -->
        <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
          Without creating
          <span class="badge badge-danger badge-pill">{{rest}}</span>
        </li>
        <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
          With code
          <span class="badge badge-success badge-pill">{{institutions.length - rest}}</span>
        </li>
      </ul>
    </div>
    <div class="col-6 animate__animated  animate__bounceInRight">
    
      <ul class="list-group">
        <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
          Total Institutions
          <span class="badge badge-primary badge-pill">{{institutions.length}}</span>
        </li> -->
        <li class="list-group-item list-group-item-danger d-flex justify-content-between align-items-center">
          without accepting 
          <span class="badge badge-danger badge-pill">{{WoAcept}}</span>
        </li>
        <li class="list-group-item list-group-item-success d-flex justify-content-between align-items-center">
          Accepted
          <span class="badge badge-success badge-pill">{{institutions.length - WoAcept}}</span>
        </li>
      </ul>

    </div>

  </div>









  <div class="input-group mb-3 animate__animated  animate__shakeY animate__delay-1s" style="margin-top: 10px;">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
    <div class="custom-file">
      <input (change)="onFileChange($event)" type="file"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
  </div>

  <table class="table animate__animated animate__fadeInTopRight">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Id request</th>
        <th scope="col">Institution name</th>
        <th scope="col">Accepted</th>
        <!-- <th scope="col">Json view</th>
        <th scope="col">is Json</th> -->
        <!-- <th scope="col">Handle</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let institution of institutions; let i = index" class=" animate__animated " [ngClass]="{'animate__slideInLeft': i%2 ==0,'animate__slideInRight': i%2 !=0}" >
        <td>{{institution.IdRequest || "null"}}</td>
        <td class="animate__animated" [ngClass]="
        {
          'error': institution.IdRequest == undefined ,
          'success animate__zoomIn': institution.IdRequest != undefined 
        }">{{institution.Institutionname || "null"}}</td>
        <td class="animate__animated" [ngClass]="{'error': !institution.Accepted, 'success animate__zoomIn': institution.Accepted}">{{institution.Accepted || "null"}}</td>
        <!-- <th scope="row">{{i}}</th> -->
        <!-- <td *ngIf="i>0">{{row[0] || "null"}}</td>
        <td *ngIf="i >0">{{row[9] || "null"}}</td>
        <td *ngIf="i >0">  
          <p><strong> acronym: {{strjson(row[9]).acronym}}</strong>  </p>
          
          <p> <strong> externalUserComments:</strong> {{strjson(row[9]).externalUserComments}} </p>
          <p><strong> externalUserMail:</strong>  {{strjson(row[9]).externalUserMail}} </p>
          <p><strong> externalUserName: </strong> {{strjson(row[9]).externalUserName}} </p>
          <p><strong> hqCountryIso:</strong>  {{strjson(row[9]).hqCountryIso}} </p>
          <p><strong> institutionTypeCode: </strong> {{strjson(row[9]).institutionTypeCode}} </p>
          <p><strong> name:</strong>  {{strjson(row[9]).name}} </p>
          <p><strong> websiteLink:</strong>  {{strjson(row[9]).websiteLink}} </p>
        </td> -->
        <!-- <td>yes</td> -->
      </tr>
    </tbody>
  </table>


</div>



<div class="containerGray" *ngIf="((rest)==0 || (WoAcept)==0) && viewinfo">
  <div class="containerInfo">
    <h1 *ngIf="(rest)==0 " class="animate__animated  animate__heartBeat">All institutions <span style="color: rgb(90, 153, 248);">created</span> </h1>
    <h1 *ngIf="(WoAcept)==0 " class="animate__animated  animate__heartBeat">All institutions <span class="success">accepted</span> </h1>
    <button (click)="viewinfo = false" type="button" class="btn btn-outline-light btn-lg btn-block animate__animated animate__bounce animate__delay-2s" style="margin-top: 100px;">Close</button>
  </div>
</div>